.title {
	color: #445161;
	font-size: 30px;
	line-height: 36px;
}
.what {
	padding: 50px 0;
}
.container {
}
.what__row {
	display: flex;
	justify-content: space-between;
}
.what__image {
	flex: 0 0 430px;
	img {
		max-width: 100%;
	}
}
.what__body {
	flex: 1 1 auto;
	padding: 0 0 0 38px;
}
.what__title {
	margin: 0px 0px 33px 0px;
}
.what__text {
	p {
		margin: 0px 0px 25px 0px;
		color: #333333;
		font-size: 16px;
		line-height: 24px;
	}
}
